body{
   height: 100vh;
}
.buyer,
.buyer main
{
   height: auto;
   width: 100%;
   display: flex;
   flex-flow:  row wrap;
}
.buyer main{
   justify-content: center;
   padding: 60px 0;
}

.buyer .navbar{
   position: relative;
   background-color: #fff !important;
}

.buyer .navbar .nav-item a {
color: #000 !important;
/* color: #000 !important; */
   font-size: 18px !important;
   /* padding: 0 25px; */
   text-shadow: unset !important;
}


.buyer ul {
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.buyer section{
   padding: 0 !important;
}

.dashboard{
   width: 30%;
   /*display: flex;*/
   /*align-items: center;*/
}

.dashboard-content{
   width: 65%;
   background: var(--white);
   padding: 0 25px 0 25px;
   border-radius: 15px;
}

.dashboard-box{

   border: 1px solid #d2d4da;
   border-radius: 15px;
   padding: 25px;
   width: 85%;
   margin: 0px auto;
   height: auto;
}

.dashboard-box .profile{
   border: 1px solid #3e9e14;
   background-color: #3e9e14;
   border-radius: 15px;
   border-bottom-left-radius: unset;
   border-bottom-right-radius: unset;
   width: 100%;
   margin: 0 auto;
   padding: 10px;
   height: 150px;
   display: flex;
   align-items: center;
   /*justify-conten  t: space-between;*/
}

.dashboard-box .profile img{
   object-fit: cover;
   width: 128px;
   height: 128px;
   border-radius: 50%;
   object-position: top;

}
.dashboard-box .profile .hi-profile{
   margin-left: 25px;
   color: #fff;
}
.dashboard-box .profile .hi-profile h1 > span {
   text-transform: uppercase;
}





.dashboard-box  ul li a {
   /*border-bottom: 1px solid #fff !important;*/

}
.dashboard-box  ul li a {
   color: #000;
   display: block;
   padding: 13px 30px;
   border-bottom: 1px solid #3E9E14;
   font-size: 16px;
   position: relative;
   text-decoration: none;
}
.dashboard-box  ul li a .icon {
   color: #3E9E14;
   width: 30px;
   display: inline-block;
}
.dashboard-box   ul li a:hover, .dashboard-box  ul li a.active {
   color: #3E9E14;
   background: white;
   border-right: 2px solid #3E9E14;
}
.dashboard-box  ul li a:hover .icon, .dashboard-box  ul li a.active .icon {
   color: #3E9E14;
}
.dashboard-box  ul li a:hover:before, .dashboard-box  ul li a.active:before {
   display: block;
}


section.content{
   flex:  1 1 auto;
}

@media screen and (max-width:991px){
   .dashboard {
      width: 100%;
   }
}
/*
.buyer{

}

.buyer .seller-wrapper{
   max-width: 1600px;
   margin: 50px auto;
   height: auto;
   border: 1px solid #e1e1e1;
   box-shadow: 7px 0px 38px -11px rgba(0,0,0,0.58);
   padding: 50px;
}

.buyer .basic-info{
   width: 100%;

}

.buyer ul {
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.buyer .wrapper .sidebar {
   box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);
   position: fixed;
   top: 0;
   left: 0;
   width: 312px;
   height: 100%;
   transition: all 0.5s ease;
}
.buyer .wrapper .sidebar hr {
   border-top: 3px solid #fff;
}
.buyer .wrapper .sidebar.buyer {
   background: #3E9E14;
}
.buyer .wrapper .sidebar.buyer {
   background: #333;
}
.buyer .wrapper .sidebar.main {
   background: #212121;
}
.buyer .wrapper .sidebar.main ul li a {
   border-bottom: 1px solid #fff !important;
}
.buyer .wrapper .sidebar ul li a {
   display: block;
   padding: 13px 30px;
   border-bottom: 1px solid #3E9E14;
   color: rgb(241, 237, 237);
   font-size: 16px;
   position: relative;
   text-decoration: none;
}
.buyer .wrapper .sidebar ul li a .icon {
   color: #dee4ec;
   width: 30px;
   display: inline-block;
}
.buyer .wrapper .sidebar ul li a:hover, .buyer .wrapper .sidebar ul li a.active {
   color: #3E9E14;
   background: white;
   border-right: 2px solid #3E9E14;
}
.buyer .wrapper .sidebar ul li a:hover .icon, .buyer .wrapper .sidebar ul li a.active .icon {
   color: #3E9E14;
}
.buyer .wrapper .sidebar ul li a:hover:before, .buyer .wrapper .sidebar ul li a.active:before {
   display: block;
}
.buyer .wrapper .sidebar-header {
   padding: 25px;
   text-align: center;
}
.buyer .wrapper .sidebar-header h3 {
   font-size: 20px !important;
   color: #fff;
   font-weight: 700;
}
.buyer .wrapper .section {
   width: calc(100% - 312px);
   margin-left: 312px;
   transition: all 0.5s ease;
}
.buyer .wrapper .section .top_navbar {
   background: #3E9E14;
   height: 50px;
   display: flex;
   align-items: center;
   padding: 0 30px;
}
.buyer .wrapper .section .top_navbar.main {
   background: #212121;
}
.buyer .wrapper .section .top_navbar .hamburger a {
   font-size: 28px;
   color: #f4fbff;
}
.buyer .wrapper .section .top_navbar .hamburger a:hover {
   color: #a2ecff;
}*/




.delivery-address{
   /* height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;*/

}
.delivery-address-wrapper{
   width: 100%;
   max-width: 1400px;
   margin:60px auto;
   height: auto;
   /*border: 1px solid #090909;*/
   /*box-shadow: 7px 0px 38px -11px rgb(0 0 0 / 58%);*/
   padding: 40px;
   position: relative;
}

.my-delivery-address-list{

}


.my-delivery-address-list .my-delivery-address-item{
   margin: 25px auto;
   border: 1px solid #d2d4da;
   border-radius: 25px;
   padding: 25px;
   display: flex;
   justify-content: space-between;
}


.my-delivery-address-details {
   flex: 1 1 45%;
   max-width: 45%;
}

.my-delivery-address-item .my-delivery-address-details .details-up{
   display: flex;
   flex-flow: row wrap;
   align-items: baseline;
   justify-content: flex-start;
}

.my-delivery-address-item .details-up > div{
   flex:  1 1 50%;
   max-width: 50%;
}

.my-delivery-address-item .details-up p.order-date{
   color: #787878;
   font-size: 16px;
}

.my-delivery-address-item .details-up p.order-total,
.my-delivery-address-item .details-up p.order-no{
   font-weight: 700;
   color: #000;
   font-size: 16px;
}
.my-delivery-address-item .details-up p.order-total-label{
   color: #000;
   font-size: 16px;
}


.my-delivery-address-item .details-thumbnail img{
   max-width: 128px;
}

.my-delivery-address-actions{
   flex: 1 1 15%;
   max-width: 15%;
   text-align: center;
}

.my-delivery-address-actions > *{
   width:  100%;
   margin: 20px 0 ;
   font-size: 18px;
}


/*.delivery-address-wrapper{
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   margin: 0 auto;
   height: 100%;
}*/

.delivery-address-wrapper .delivery-address-wrapper-left{
   flex: 1 1 55%;
   max-width: 55%;
   border-right: 1px solid #e3e3e3 ;
   padding: 25px;
}
.delivery-address-wrapper .delivery-address-wrapper-right{
   flex: 1 1 45%;
   max-width: 45%;
   background-color: #e7e8eb;
   padding: 50px;
}
.delivery-address-wrapper .order-status{
   margin: 25px auto;
   border: 1px solid #d2d4da;
   border-radius: 15px;
   padding: 25px;
   display: flex;
   width: 100%;
   height: auto;
   justify-content: space-between;
}

.delivery-address-box{
   margin: 25px auto;
   border: 1px solid #d2d4da;
   border-radius: 15px;
   padding: 25px;

   width: 100%;
   height: auto;

}

.delivery-address-items td{
   vertical-align: middle;
}
.delivery-address-items td.td-left{
   width: 30%;
}
.delivery-address-items td.td-center{
   width: 40%;
}

.order-items td.td-right{
   width: 30%;
   text-align: right;
}

.delivery-address-items  img{
   width: 64px;
   height: 64px;
}

.delivery-address-customer-info {
   display: flex;
   justify-content: space-between;
   flex-flow: row wrap;
}
.delivery-address-customer-info h3{
   font-size: 15px;
}

.delivery-address-customer-info p{
   font-size: 13px;
   margin: 10px 0 15px;
}

.delivery-address-updates{
   margin: 25px auto;
   border: 1px solid #d2d4da;
   border-radius: 15px;
   padding: 25px;
   width: 100%;
   height: auto;

}


.status-update-fl{
   display: flex;
   justify-content: space-between;
}

@media (max-width:991px){
   .delivery-address-wrapper .delivery-address-wrapper-left,
   .delivery-address-wrapper .delivery-address-wrapper-right{
      flex: 1 1 100%;
      max-width: 100%;
   }

   .delivery-address-info-section-1,
   .delivery-address-info-section-2{
      flex: 1 1 100%;
      max-width: 100%;
   }


}
