.shop{
    padding: 60px ;
 }

.shop .container{
   max-width: 1600px;
   min-height: 100vh;
   width: 100%;
}

.shop .shop-wrapper{
   display: flex;
   flex-flow:  row wrap;
}

.filter-wrapper{
   flex:  1 1 25%;
}
.products-grid{
   width:  75%;
   height: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.products-grid .product-item{
   flex: 1 1 calc(25% - 30px);
   max-width: calc(25% - 30px);
   border: 1px solid #e3e3e3;
   /*min-height:  250px;*/
   border-radius:10px;
   margin: 15px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.product-item .product-image{
   /*height: 70%;*/
   width: 100%;
}

.product-item .product-image img{
   width: 100%;
   /*height: 250px;*/
   height: 195px;
   object-fit: cover;
   object-position: center;
   border-radius: 10px 10px 0 0;
}

.product-item .product-details{
   padding: 15px;
}

.product-details h4{
   text-transform: uppercase;
   font-size: 17px;
}

.product-item .product-details p{
   text-transform: uppercase;
}

.product-item .product-details h4.product-name{
   font-weight: 600;
   font-size: 17px;
   text-transform: uppercase;
}

.product-item .product-details input[type="number"],
.product-item .product-details button{
   font-size: 17px;
   border: 1px solid #a1a1a1;
   border-radius: 5px;
   padding-left: 5px;
}

.product-item .product-details input[type="number"]{
   padding: 5px;
   width: 100%;
}

.cart{

}

.cart-container{
   max-width: 1200px;
   /* display: flex; */
   margin: 0 auto;
   /*min-height: 100vh;*/
   flex-flow: row wrap;
   justify-content: flex-end;
}

.delivery-addresses{
   width: 100%;
   /*width: calc(25% - 40px);*/
   border: 2px solid #3e9e14;
   border-radius: 5px;
   height: 100%;
   padding: 25px;
   margin-right: 20px;
   margin-bottom: 25px;
}

.main-cart{
   /* width: calc(75% - 40px); */
   padding: 25px;
   border: 2px solid #3e9e14;
   border-radius: 5px;
   height: 100%;
   /* margin-left: 20px; */
   margin-bottom: 50px;
}

.main-cart h3{
   text-transform: uppercase;
}

.cart-items{

}

.cart-item{
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   align-items: center;
}

.cart-item .product-image{
   width: 15%;
   height: 100px;
   padding: 15px;
}

.cart-item .product-image img{
   border: 1px solid #e3e3e3;
   border-radius: 5px;
   height: 100%;
   width: 100%;
   object-fit: cover;

}

.cart-item .product-name,
.cart-item .product-price,
.cart-item .product-quantity,
.cart-item .product-total,
.cart-item a{
   width: 16.66%;
   font-size: 18px;
}


.payment-options{
   width: 70%;
   margin: 0 auto;
   /*width: calc(75% - 40px);*/
   padding: 25px;
   /*border: 2px solid #3e9e14;*/
   border-radius: 5px;
   height: 100%;
   /*margin-left: 20px;*/
   display: flex;
   text-align: center;
   flex-flow: row wrap;
   justify-content: space-between;
}

.payment-option-item{
   width: calc(50% - 30px);
   margin:0  15px;
   position: relative;
   /*border: 2px solid #3e9e14;*/

}

/*.payment-option-item:hover{
   border: 2px solid #3e9e14;
}*/
.payment-option-item img {
   cursor: pointer;
   width: 240px;
   height: 240px;
   margin: 25px auto;
}

/* HIDE RADIO */
.payment-option-item [type=radio] {
   position: absolute;
   opacity: 0;
   width: 100%;
   height: 100%;
}

/* IMAGE STYLES */
.payment-option-item [type=radio] + img {
   cursor: pointer;
}

/* CHECKED STYLES */
.payment-option-item [type=radio]:checked + img {
   border: 2px solid #3e9e14;
}

.button-area{
   width: 100%;
   height: 50px;
   margin: 50px auto;
}
.button-area button{
   font-size: 25px;
   width: 100%;
   height: 100%;
   border: 2px solid #3e9e14;
   background-color: #3e9e14;
   transition: all ease-in-out .20s;
   color: var(--white);
}
.button-area button:hover{
   background-color: #fff;
   color: #3e9e14;
}

.product{

}

.product-wrapper{

}

.product-top-area{
   display: flex;
   flex-flow: row wrap;
   height: 600px;
   width: 100%;
   padding: 60px;
}

.product-img-area{
   flex: 1 1 50%;
   max-width: 50%;
}

.product-main-image{
   width: 100%;
   height: 474px;
   border: 1px solid #fff;
}
.product-main-image img{
   width: 100%;
   /*height: 100%;*/
   object-fit: cover;
   object-position: top;
}

.product-img {
   width: 100%;
   height: 350px;
}
.product-img img {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
}

#slide-nav .product-img {
   height: 120px;
   border: 2px solid #fff;
   margin: 0 15px;
}

#slide-nav .product-img img {
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   -o-object-position: center;
   object-position: center;
}

.product-details-area{
   flex: 1 1 50%;
   padding: 0 25px;
   max-width: 50%;
}

.product-bottom-area {
   padding: 60px 0;
   background-color: #fff;
}


.product-rating,
.rating{
   font-size: 25px;
   transition: all ease-in .2s;
}

.product-rating.active,
.rating:hover,
.rating.active{
   color: #f39c12;
}

.comment-area  ul li {
   color: #000;
   display: block;
   padding: 30px 15px;
   border: 1px solid #e3e3e3;
   font-size: 16px;
   position: relative;
   text-decoration: none;
}

#filter{
   padding: 0px 40px;
}

#filter .form-check-label {
   margin-bottom: 0;
   margin-left: 10px;
   margin-top: -2px;
}
#filter .form-check {
   padding: 10px;
}

#filter{
   font-size: 13px;
}


#filter .product-rating {
   font-size: 13px;
}

.out-of-stock{
   color: red
}

h4.product-name {
   font-size: 35px;
   font-weight: 600;
}

p.seller-name {
   font-weight: 400;
   font-size: 20px;
}

h4.product-price {
   font-size: 23px;
}

.details-add-to-cart{
   font-size: 16px;
   font-weight: 800;
}

.add-to-cart-area .quantity{
   font-size: 18px;
   border: 1px solid #a1a1a1;
   border-radius: 5px;
   padding-left: 5px;
   width: 172px;
}

.add-to-cart.btn{
   text-transform: uppercase;
}

@media screen and (max-width: 1366px){
   .products-grid .product-item{
      flex: 1 1 calc(33.333% - 30px);
      max-width: calc(33.333% - 30px);

   }

   .products-grid {
      width: 65%
   }

}

@media screen and (max-width: 1290px){
   .product-item .product-details p{
      font-size: 13px;
   }

   .product-item .product-details h4.product-name{
      font-size: 15px;
   }
}

@media screen and (max-width: 991px){


   .shop {
       padding: 0px;
   }

   .products-grid .product-item {
      flex: 1 1 calc(33.333% - 30px);
      max-width: calc(33.333% - 30px);
   }
   .products-grid{
      width: 100%;
   }

   .filter-wrapper {
      flex: 1 1 100%;
   }
}

@media screen and (max-width: 767px){
   .products-grid .product-item {
      flex: 1 1 calc(50% - 30px);
      max-width: calc(50% - 30px);
   }
}
@media screen and (max-width: 480px){
   .products-grid .product-item {
      flex: 1 1 100%;
      max-width: 100%;
      margin: 30px 0;
   }

}

.update-btn{
   padding: 10px;
   text-transform: uppercase;
   color: var(--white);
   width: 100%;
   text-align: center;
}