body{
    height: 100vh;
}
.seller,
.seller .wrapper,
.seller .wrapper .section,
.seller main
{
    height: 100%;
}



.seller .seller-wrapper{
    max-width: 1600px;
    margin: 50px auto;
    height: auto;
    border: 1px solid #e1e1e1;
    box-shadow: 7px 0px 38px -11px rgba(0,0,0,0.58);
    padding: 50px;
}

.seller .basic-info{
    width: 100%;

}

.seller ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.seller .wrapper .sidebar {
    box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    left: 0;
    width: 312px;
    height: 100%;
    transition: all 0.5s ease;
}
.seller .wrapper .sidebar hr {
    border-top: 3px solid #fff;
}
.seller .wrapper .sidebar.seller {
    background: #3E9E14;
}
.seller .wrapper .sidebar.buyer {
    background: #333;
}
.seller .wrapper .sidebar.main {
    background: #212121;
}
.seller .wrapper .sidebar.main ul li a {
    border-bottom: 1px solid #fff !important;
}
.seller .wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #3E9E14;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    text-decoration: none;
}
.seller .wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.seller .wrapper .sidebar ul li a:hover, .seller .wrapper .sidebar ul li a.active {
    color: #3E9E14;
    background: white;
    border-right: 2px solid #3E9E14;
}
.seller .wrapper .sidebar ul li a:hover .icon, .seller .wrapper .sidebar ul li a.active .icon {
    color: #3E9E14;
}
.seller .wrapper .sidebar ul li a:hover:before, .seller .wrapper .sidebar ul li a.active:before {
    display: block;
}
.seller .wrapper .sidebar-header {
    padding: 25px;
    text-align: center;
}
.seller .wrapper .sidebar-header h3 {
    font-size: 20px !important;
    color: #fff;
    font-weight: 700;
}
.seller .wrapper .section {
    width: calc(100% - 312px);
    margin-left: 312px;
    transition: all 0.5s ease;
}
.seller .wrapper .section .top_navbar {
    background: #3E9E14;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.seller .wrapper .section .top_navbar.main {
    background: #212121;
}
.seller .wrapper .section .top_navbar .hamburger a {
    font-size: 28px;
    color: #f4fbff;
}
.seller .wrapper .section .top_navbar .hamburger a:hover {
    color: #a2ecff;
}

.table{
    font-size: 12px;
}

.have-stall{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.stall-wrapper{
    width: 500px;
    height: auto;
    border: 1px solid #e1e1e1;
    padding: 50px;
    box-shadow: 7px 0px 38px -11px rgba(0, 0, 0, 0.58);
}

.have-stall h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 3rem;
}

.stall-btn-container{
    text-align: center;
    text-transform: uppercase;
}

#sellers_submenu li,
#products_submenu li {
    padding-left: 25px;
 }


h4.product-name {
    font-size: 35px;
    font-weight: 600;
}

.product{

}

.product-wrapper{

}

.product-top-area{
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    width: 100%;
    padding: 60px;
}

.product-img-area{
    flex: 1 1 50%;
    max-width: 50%;
}

.product-main-image{
    width: 100%;
    height: 474px;
    border: 1px solid #fff;
}
.product-main-image img{
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    object-position: top;
}

.product-img {
    width: 100%;
    height: 350px;
}
.product-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

#slide-nav .product-img {
    height: 120px;
    border: 2px solid #fff;
    margin: 0 15px;
}

#slide-nav .product-img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    -o-object-position: center;
    object-position: center;
}

.product-details-area{
    flex: 1 1 50%;
    padding: 0 25px;
    max-width: 50%;
}

.product-bottom-area {
    padding: 60px 0;
    background-color: #fff;
}


.product-rating,
.rating{
    font-size: 25px;
    transition: all ease-in .2s;
}

.product-rating.active,
.rating:hover,
.rating.active{
    color: #f39c12;
}

.comment-area  ul li {
    color: #000;
    display: block;
    padding: 30px 15px;
    border: 1px solid #e3e3e3;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}
::-webkit-scrollbar-track {
    background: var(--green); 
}
::-webkit-scrollbar-thumb {
    background: var(--orange); 
}

